*{
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  background-color: #272727;

  color: #999;
  font-size: 1rem;
  font-family: "Poppins","Roboto", sans-serif;
}

.wrapper {
  position: relative;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  border-left: 0.5px solid rgb(68, 68, 68, 0.5);
  border-right: 0.5px solid rgb(68, 68, 68, 0.5);

  text-align: center;
}

.wrapper-middle-lines {
  position: absolute;
  z-index: -1;
  left: 32%;
  width: 35%;
  height: 100%;
  border-left: 0.5px solid rgb(68, 68, 68, 0.5);
  border-right: 0.5px solid rgb(68, 68, 68, 0.5);
}

.light-orange {
  color: #c5a47e;
  text-transform: uppercase;
}

.logo img {
  width: 10em;
  padding-bottom: 2em;
  transition: 1.5s ease;
}

.logo img:hover{
    filter:brightness(1.3);
}

.menu {
  margin-top: 0;
  padding: 0;
}

.menu-item {
  font-size: 1.2em;
  margin: 0 1em;
  list-style: none;
  padding-top: 2em;
}

.menu-item li:not(:first-child) {
    padding-top: 2em;
  }

.menu-item a:hover {
  color: #c5a47e;
}

.menu-item a {
  transition: 0.5s ease;
  text-decoration: none;
  color: #999;
}

.container {
  position:relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(68, 68, 68, 0.5);
  padding-bottom: 5em;
}

.container.discover{
  flex-direction: row-reverse;
}

.article {
  text-align: left;
  width: 35%;
  height: auto;
  z-index: 2;
  margin-top: 10em;
  margin-right: -3em;
}


.article h1 {
  font-size: 3.2em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  transform: scaleY(1.2);
  margin: 0 0 0.2em 0;
}

.article h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 200;
  color: #c5a47e;
  letter-spacing: 0.25em;

  margin: 0;
}

.article-more{
  position: relative;
  left: -5%;
  display: flex;
  justify-content: space-around;
  color: #c5a47e;
}

.article-more-link a::before{
  content: '';
  display: inline-block;
  width: 130px;
  height: 1px;
  background: #c5a47e;
  position: relative;
  top: -5px;
  left: -5px;
}

.article-more-link a{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-weight: 200;
    color: #c5a47e;
    text-transform: uppercase;
    transition: .5s ease;
}

.article-more-link a:hover{
    color: #f8d4ab;
}

.article p {
  font-weight: 400;
  line-height: 1.9em;
  z-index: 2;
  margin: 2em 0;
}

.home-picture-wrapper{
  position: relative;
  height: 40em;
  width: 45em;
}

.home_picture {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: -4em;
  box-shadow: 15em 0 #333;
}
.home_picture:hover img {
  transform: scale(1.05);
}

.home_picture img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.arrow-right {
    position: absolute;
    top:0;
    right:-25%;
    z-index: 45;
    background: #272727;
    color: #c5a47e;
    font-size: 1.2em;
}

.arrow-right a{
  padding: 10px 21px;
  color: #c5a47e;
  font-size: 1.2em;
}

.arrow-right a:hover i{
    animation: moving-arrow 1s linear infinite;
}

@keyframes moving-arrow {
    0% {
        transform: translateX(0);
    }
    33%{
        transform: translateX(5px);
    }
    66%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
  padding: 2.5em 0 2em 0;
}

.social_icons i:hover {
  cursor: pointer;
  color: #f8d4ab;
}

.social_icons i {
  transition: 0.5s ease;
  font-size: 1em;
  padding: 0.7em;
}

.copyright {
  font-size: 0.9em;
  font-weight: 300;
}

.button-menu-wrapper{
    position: fixed;
    box-sizing: border-box;
    right: 2em;
    top: 1.5em;
    width: 50px;
    height: 50px;
    padding: 15px;
    background-color: #333;
    z-index: 60;
}
.hamburger{
    background: none;
    border:none;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
}

.hamburger .hamburger-line{
    background-color: #c5a47e;
    border-radius: 4px;
    display: block;
    height: 2px;
    transition: transform 330ms cubic-bezier(.54, -.81, .57, .57);
}

.hamburger .hamburger-line.middle {
    margin: 6px 0;
    width: 100%;
}

.hamburger .hamburger-line.top-left,.hamburger .hamburger-line.bottom-right{
    width: 50%;
    height: 1.5px;
}

.hamburger .hamburger-line.bottom-right{
    margin: 0 0 0 auto;
}

.hamburger.active .hamburger-line.middle{
    transform: rotate(-45deg);
}
.hamburger.active .hamburger-line.top-left,.hamburger.active .hamburger-line.bottom-right{
    
    height: 2px;
}
.hamburger.active .hamburger-line.top-left{
    transform: rotate(45deg) translate(3px,2px);
}
.hamburger.active .hamburger-line.bottom-right{
    transform: rotate(45deg) translate(-3px,-2px);
}

.side-menu{
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background-color: #272727;
    width: 300px;
    z-index: 55;
    transform: translateX(100%);
    padding-top: 150px;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.side-menu.open{
    transform: translateX(0);
}
.side-menu-shade{
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    transition: 0.3s ease-out;
}
.side-menu-shade.open{
    visibility: visible;
    opacity: 1;
}

/*_____DISCOVER_MORE.HTML____________________________*/

.main-article{
  width: 60%;
  height: auto;
  margin-top: 4em;
  padding: 0 1em 0 3em;
  text-align: left;
}

.main-article img{
  width: 100%;
}

.main-article h1{
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
  color: #eee;
  transform: scaleY(1.2);
}

.main-article p {
  font-weight: 400;
  line-height: 1.9em;
}
.comments-section{
  margin-top: 5em;
}
.comments-section h2{
  font-weight: 400;
  transform: scaleY(1.2);
  color: #eee;
}
.comment {
  display: flex;
}

.comment img{
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
.the_comment h4{
  color: #eee;
  letter-spacing: 0.1em;
  font-weight: 400;
}
.the_comment p{
  font-weight: 300;
}
.the_comment{
  margin-left: 2em ;
}
.the_comment a{
  text-decoration: none;
  color: #c5a47e;
  font-weight: 300;
  font-size: 0.8em;
  transition: 0.5s ease-out;
}

.the_comment a:hover{
  color:#f8d4ab
}

.answer-formular{
  width: 100%;
  margin-top: 5em;
  padding-bottom: 4em;
}
.answer-formular h2{
  font-weight: 400;
  transform: scaleY(1.2);
  color: #eee;
}
.contact-inputs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.contact-inputs input{
  width: 45%;
  height: 3em;
  background-color: #444;
  border:none;
}

.contact-inputs input[type=text],
.contact-inputs input[type=email],
textarea{
  padding-left: 1em;
  font-size: 1.02em;
}
.answer-formular textarea{
  width: 98%;
  height: auto;
  background-color: #444;
  border:none;
  resize: vertical;
}

input[type=submit]:hover{
  background-color: #fff;
  color: black;
  
}

input[type=submit]{
  margin-top: 2em;
  padding: 1em 2em;
  background-color: #c5a47e;
  color: #fff;
  font-weight: 400;
  font-size: 1.02em;
  border: none;
  cursor: pointer;
  transition: .5s ease-out;
}

.side-bars{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 4em;
}

.side-bars ul{
  border-radius: 2px;
  list-style: none;
  background-color: #333;
  padding-bottom: 2em;
  padding-top: 1em;
  margin-bottom: 1em;
  padding-right: 0.5em;
}

.search-bar.shadow-boxes{
  border-radius: 2px;
  background-color: #333;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 2em;
}

.search-bar input{
  margin: 0 auto;
  padding: 0.5em 1em;
  width: 85%;
}

.recent-posts{
  text-align: left;
}
.side-bars-headings{
  font-weight: 400;
  color: #eee;
  transform: scaleY(1.2);
}

.recent-posts li{
  display: flex;
  align-items: center;
  width: 90%;
}

.recent-posts li:not(:last-child){
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.5px solid rgb(255, 255, 255, 0.1);
}

.recent-posts a{
  margin-left: 2em;
  color: #eee;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  transform: scaleY(1.2);
  transition: 0.5s ease;
}

.recent-posts a:hover{
  color:#f8d4ab
}

.recent-posts img{
  width: 30%;
  height: auto;
}

.discover-more-tags-links{
  width: 70%;
  margin: 0 auto;
}

.categories,
.tags {
  text-align: left;
}

.categories li{
  line-height: 2em;
}

.categories ul{
  margin: 0;
}

.categories a{
  padding-left: 0.5em;
  }

.categories a,
.tags a{
  font-size: 0.9em;
  color:#eee;
  text-decoration: none;
  font-weight: 300;
  transition: 0.5s ease;
}

.categories a:hover{
  color:#f8d4ab
}

.tags-boxes ul{
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  padding-top: 1em;
}

.tags-boxes li{
  display: inline-block;
}

.tags-boxes a{
  display: inline-block;
  padding: .5em 1em;
  background-color: #c5a47e;
  margin: 3px;
  transition: 0.5 ease;
}

.tags-boxes a:hover{
  background-color: #fff;
  color:black;
}

/*______ABOUT US________________________________________*/

.about-wrapper{
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.about-wrapper h1{
  text-transform: uppercase;
  transform: scaleY(1.5);
  font-weight: 500;
  font-size: 2.7em;
  color: #fff;
  margin-bottom: 0;
}

.about-wrapper h1 span{
  color: #c5a47e;
}

.about-article{
  display: flex;
  justify-content: space-between;
}

.about-img-wrapper{
  position: relative;
  width: 30%;
  height: 400px;
}

.about-img{
  width: 90%;
  height: 100%;
  overflow: hidden;
  padding-top: 80px;
}

.about-img img{
  position: relative;
  transform: translateX(-10%);
  height: 400px;
}
.img-dotted-shadow{
  position: absolute;
  top: 0;
  right: 0;
  background-image: radial-gradient(#c5a47e 20%, #272727 20%);
  background-size: 10px 10px;
  width: 90%;
  height: 400px;
  opacity: 0.5;
  z-index: -1;
}

.about-text{
  width: 70%;
  padding-left: 3em;
}

.about-text h2{
color: #fff;
font-weight: 400;
font-size: 1.7em;
}

.about-text h2 span{
  color: #c5a47e;
}

.about-text p{
  font-weight: 300;
  line-height: 1.7em;
}

.experience-block{
  display: flex;
}

.number{
  font-size: 7em;
  transform: scaleY(1.3); 
  color: #c5a47e;
  font-weight: 500;
}

.year{
  padding-top: 4em;
  margin-left: 1.5em;
}
.year h4{
  color: #fff;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}

.year h6{
  color: #c5a47e;
  font-weight: 300;
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 0.5em;
}

.employees-wrapper{
  margin: 5em 0;
}

.employees-wrapper,
.reviews-from-visitor-wrapper{
  margin: 50px 0 0 auto;
  width: 75%;
}

.employees-list,
.visitor-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.employees,
.visitors{
  display: flex;
  justify-content: center;
}

.one-employee{
  margin: 1em;
}


.info-text{
  display: flex;
  text-align: center;
  flex-direction: column;
  font-weight: 300;
  font-size: 0.9em;
}

.info-text span:first-child{
  margin-top: 1em;
  margin-bottom: .2em;
  color: #c5a47e;
}
.dots{
  cursor: pointer;
}

.dots i{
  transition: 0.5s ease;
  font-size: 0.6em;
}
.dots .active,
.dots i:hover{
  color:#c5a47e;
}


.review{
  background-color: #333;
  border-radius: 15px;
  width: 40%;
  margin: 1em;
  text-align: center;
}

.review p{
  padding: 0 2em;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.7em;
  text-align: left;
}

.review i{
  font-size: 3em;
  color: #c5a47e;
  opacity: 0.8;
  padding-top: 0.5em;
}

.visitor-info{
  display: flex;
  padding: 1em 2em 3em 2em;
  text-align: left;
}
.visitor-info img{
  border-radius: 50%;
  width: 50px;
  margin-right: 1em;
}

.column-info{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.column-info span{
  font-size: 0.9em;
  font-weight: 300;
}

.column-info span:first-child{
  color: #c5a47e;
}




/*_______________RESPONSIVE____________*/

@media screen and (max-width: 1470px) {
    
  .home-picture-wrapper {
    height: 35em;
  }

  .home_picture {
    box-shadow: 14em 0 #333;
  }

  .arrow-right {
    right: -24%;
  }

  
  /*______________DSICOVER PAGE_____________*/

  .side-bars{
    width: 35%;
  }
  .discover-more-tags-links{
    width: 100%;
  }

@media screen and (max-width: 1270px) {

  .logo img {
    width: 9em;
    height: auto;
  }

  .home-picture-wrapper {
    height: 30em;
    width: 30em;
  }

  .home_picture {
    box-shadow: 11em 0 #333;
  }

  .arrow-right {
    right: -24%;
  }

  .article {
    margin-top: 5em;
    width: 40%;
  }

  .article h1{
    font-size: 2.5em;
  }

  .container.discover {
    flex-direction: column;
  }

  .side-bars{
    width: 100%;
    margin-top: 0;
  }
  .side-bars-links{
    display: flex;
  }

  .search-bar{
    width: 280px;
    margin: 0 0 0 auto;
  }
  .recent-posts{
    width: 65%;
  }
  .discover-more-tags-links{
    display: flex;
  }
  .categories{
    margin: 0 20px;
  }
  .categories ul{
    padding-left: 2em;
    padding-right: 2em;
  }

  .tags-boxes{
    width: 100%;
  }
  .side-bars ul {
    margin: 0;
  }
  
  .side-bars-headings{
    margin: 0;
    padding: 1em 0;
  }

  
  .main-article {
    width: 100%;
  }
  .main-article > img {
    width: 80%;
    box-shadow: 50px -24px 0px 11px #333;
  }
}

@media screen and (max-width: 992px) {
  .home-picture-wrapper {
    height: 25em;
    width: 25em;
  }

  .home_picture {
    box-shadow: 9em 0 #333;
  }

  .arrow-right {
    right: -24%;
  }
  .article {
    width:50%
  }

  .article p{
    margin: 0;
  }

  .article-more-link a::before {
    width: 100px;
}
  /*____________DISCOVER PAGE______________*/

  .recent-posts{
    text-align: center;
  }
  .recent-posts li {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .side-bars .recent-posts ul {
    padding: 0 0 2em;
  }
  .recent-posts a{
    margin-left: 0;
  }
  .recent-posts img {
    width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 790px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
  }

  .home-picture-wrapper {
    height: 20em;
    width: 32em;
  }

  .home_picture {
      margin-left: 0; 
      box-shadow: none;
  }
  .arrow-right {
    right: 0;
  }

  .article {
    width: 100%;
    margin-top: 2em;
    margin-right: 0;
    text-align: center;
  }

  .article h1 {
    margin: 0 0 0 0;
  }
  .article-more {
    position:inherit;
    margin-left: 0%;
    display: flex;
    justify-content: center;
  }

  .article-more-link a{
    font-weight: 500;
  }

  .article-more-link a::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    background: #c5a47e;
    position: relative;
    top: -5px;
    right: -5px;
  }
  
  .footer{
    padding-top: .5em;
    flex-direction: column;
    padding-bottom: 0;
  }
  /*_________DSICOVER PAGER______________*/

  .container.discover {
    flex-direction: column;
  }
  
  .side-bars {
    width: 100%;
    margin-top: 1em;
  }
  
  .search-bar.shadow-boxes{
    padding: 1em 0;
  }

  .search-bar{
    margin: 0 auto;
    margin-bottom: 2em;
    width: 40%;
  }

  .search-bar input {
    margin: 0 auto;
    padding: 0.5em 1em;
    width: 80%;
  }

  .recent-posts {
    width: 100%;
    padding: 1em;
  }
  .side-bars-headings{
    margin: 0;
    padding: 0.5em;
  }
  .discover-more-tags-links{
    display: flex;
  }

  .side-bars-headings{
    margin-bottom: 0;
    margin-top: 0;
  }

  .discover-more-tags-links{
    position: relative;
    display: flex;
    justify-content: space-between;

  }

  .categories.shadow-boxes{
    position: relative;
    left: -5%;
    width: fit-content;
    height: 227px;
    padding: 1em;
  }
  .categories.shadow-boxes ul{
    padding: 0;
  }
  .categories.shadow-boxes li{
    font-weight: 300;
  }
  .tags.shadow-boxes{
    position: relative;
    right: -5%;
    width: fit-content;
    height: 227px;
    padding: 1em;
  }
} 

@media screen and (max-width: 576px){

  .logo img {
    width: 8em;
    padding-bottom: 0;
  }

  .home-picture-wrapper {
    height: 15em;
    width: 25em;
  }
  .article h1 {
    font-size: 2em;
  }
  .article h3 {
    font-size: 1em;
    margin: .5em 0;
  }
  .article p {
    font-weight: 300;
    line-height: 1.5em;
    z-index: 2;
    margin-bottom: 0.5em;
  }

  .article-more-link a {
    font-size: 0.8em;
    font-weight: 500;
  }

  /*________Discover more page_____________*/

  .shadow-boxes{
    width: 100%;
  }

  .search-bar.shadow-boxes{
    padding: 0;
  }
  .search-bar{
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 2em;
    width: 65%;
  }

  .search-bar input {
    margin: 0;
    padding: 0.5em 1em;
    width: 100%;
  }

  

  .categories.shadow-boxes h2,
  .tags.shadow-boxes h2{
    margin-left: 0;
    font-size: 1.2em;
  }
  .tags-boxes ul {
    display: contents;
  }
  .main-article {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 0;
    text-align: center;
  }
  .main-article h1 {
    font-size: 2em;
  }

  .main-article p {
    font-weight: 300;
    line-height: 1.5em;
  }

  .comments-section {
    margin-top: 2em;
    text-align: left;
  }
  .the_comment {
    margin-left: 1em;
  }
  .the_comment h4 {
    margin: 0;
  }
  .main-article p {
    font-size: 0.9em;
    margin-bottom: 0;
  }

  .answer-formular {
    margin-top: 0;
    padding-bottom: 0;
    text-align: left;
  }
  .answer-formular h2 {
    font-size: 1em;
    text-align: left;
  }
  .contact-inputs {
    margin-bottom: 0;
    flex-direction: column;
  }
  .contact-inputs input {
    width: 100%;
    height: 2em;
    margin-bottom: 0.5em;
  }
  .answer-formular textarea {
    width: 100%;
  }
  input[type=submit] {
    margin-top: 0;
    padding: 0.2em 0.5em;
}